@model IEnumerable<BugTracker.Models.ApplicationUser>
@{
    ViewBag.Title = "Admin Homepage";
}

<h2>All User Names</h2>

<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th></th>
    </tr>

    @foreach (var user in ViewBag.Users)
    {
<tr>
    <td>
        @user.UserName
    <td>
        @Html.ActionLink("Add Role", "AddUserToRole", new { userId = user.Id })
    </td>
    <td>
        @Html.ActionLink("Remove Role", "RemoveUserFromeRole", new { userId = user.Id })
    </td>
</tr>
    }

</table>
<p>
    @Html.ActionLink("index", "Index")
</p>
